

<img src="https://pandas.pydata.org/_static/pandas_logo.png"/>

# Lets expolre an NBA dataset

In [13]:
import pandas as pd
nba = pd.read_csv("nba.csv")

# lets start with some basic exloration to see what we are dealing with
nba.shape

(458, 9)

In [14]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [9]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [19]:
# so... what is the average salary of 'North Carolina' grads? 

nba[ nba['College'] == 'North Carolina'].Salary.mean()

3438716.1875

In [30]:
# Who is the tallest player in the Boston Celtics?

# filter non-boston players
boston = nba[ nba['Team'] == 'Boston Celtics']

# sort by height
boston.sort_values(by='Height', ascending=False)

# select the name from first row
boston.loc[0, 'Name']

'Avery Bradley'

In [35]:
# Are age and Salary strongly correlated? 
df = nba.loc[:, ['Age', 'Salary']]
df.corr()

             Age    Salary
Age     1.000000  0.213459
Salary  0.213459  1.000000

In [60]:
# what's the most common first names?

# get the list of names
full_names = nba['Name'].dropna().values
first_names_counter = {}

# iterate over the full names
for full_name in full_names:
    # extract the first names    
    first_name = full_name.split()[0]
    
    # set the counter if needed and add 1    
    current_count = first_names_counter.get(first_name, 0)
    first_names_counter[first_name] = current_count + 1
    
# find the name with the maximum count    
max_key = max(first_names_counter, key=lambda k: first_names_counter[k])
print max_key, first_names_counter[max_key]

James 7