

<img src="https://pandas.pydata.org/_static/pandas_logo.png"/>

# Let's Pandas!

Here'e a link to Pandas documentation https://pandas.pydata.org/pandas-docs/stable/

And remember, Google is your best friend. 

Were going to explore the Titanic dataset.

In [1]:
import pandas as pd
df = pd.read_csv('./titanic.csv')

#### Check the shape, descriptoin, and first rows of the dataset

In [2]:
df.shape

(156, 12)

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,156.000000,156.000000,156.000000,126.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,14.613880,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,19.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,35.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

### How many passangers survived?

In [12]:
survivors = df['Survived'].sum() 
passengers = df['PassengerId'].count()
survival_rate = survivors / float(passengers)
print("{0:.2%}".format(survival_rate))

34.62%

### How many passangers in each group age? (0-18, 19-40, 40+)

In [13]:
total_passengers = df.shape[0]
group_under_18 = df[df['Age'] <= 18].shape[0]
group_19_to_40 = df[(df['Age'] > 18) & (df['Age'] < 40)].shape[0]
group_over_40 = df[df['Age'] > 40].shape[0]
print("Total Passengers:   {0}".format(total_passengers))
print("Under 18:           {0}".format(group_under_18))
print("18 to 40:           {0}".format(group_19_to_40))
print("Over 40:            {0}".format(group_over_40))

Total Passengers:   156
Under 18:           27
18 to 40:           76
Over 40:            21

### What's the name of the oldest passenger?

In [14]:
df.sort_values(by='Age', ascending=False).iloc[0, :]['Name']

'Goldschmidt, Mr. George B'

### What was the average ticket fare for passengers under 18?

In [15]:
df[ df['Age'] <= 18 ]['Fare'].mean()

22.963277777777776

### Did women had a better chance to survive?

In [17]:
males = df[ df['Sex'] == 'male']
male_passengers = males['PassengerId'].count()
male_passengers_survivors = males['Survived'].sum()
male_survivor_ratio = male_passengers_survivors / float(male_passengers)
print("{0:.2%}".format(male_survivor_ratio))

14.00%

__And now for females__

In [18]:
females = df[ df['Sex'] == 'female']
female_passengers = males['PassengerId'].count()
female_passengers_survivors = females['Survived'].sum()
female_survivor_ratio = female_passengers_survivors / float(female_passengers)
print("{0:.2%}".format(female_survivor_ratio))

40.00%

### It is said that rich people on the Titanic had more access to the life boats. Is a higher fare indicative of survival?

In [19]:
df.loc[:, ['Survived', 'Fare']].corr()

          Survived      Fare
Survived  1.000000  0.029343
Fare      0.029343  1.000000